.input-group-text {
    font-size: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.time-padding {
    padding: 12px;
}

.timeBtn {
    padding: 0 20px;
}

i {
    color: white
}

.timeBtn:hover > i {
    color: black;
}